/**************** body and tag styles ****************/
body {
margin-top: 0px;	  
margin-bottom: 30px;
}

#container {
width: 850px;
margin: 0 auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
color: #555;
background-color: #FFFFFF;
}

#container2 {
width: 846px;
margin: 0 auto;
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 11px;
line-height: 1.6em;
color: #555;
background-color: #FFFFFF;
padding-bottom: 10px;
}

h1 {
font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
font-weight: normal;
font-size: 32px;
color: #6DA6E2;
margin-bottom: 30px;
background-color: #FFFFFF;
}

h2 {
color: #555;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
background-color: #FFFFFF;
}

a {
color: #6DA6E2;
text-decoration: none;
font-weight: bold;
}

a:hover {
font-weight: bold;
text-decoration: underline;
}

/**************** images styles ****************/		
a img{
border: none;
}

img.left,img.center,img.right {
padding: 4px;
border: 1px solid #a0a0a0;
}

img.left {
float: left;
margin: 0 12px 5px 0;
}

img.center {
display: block;
margin: 0 auto 5px auto;
}

img.right {
float: right;
margin: 0 0 5px 12px;
}

/**************** form styles ****************/
form {
float: left;
font-size: 10Fpx;
}

form.login {
float:right;
font-size: 10px;
}

input {
background-color: #FFFFFF;
color: #999999;
border: 1px solid #2763A5;
font-size: 11px;
padding: 3px;
}

.inputbutton {
padding: 2px;
background-color: #6DA6E2;
color: #fff;
border: 1px solid #2763A5;
font-size: 11px;
}

/**************** header styles ****************/
#header {
width: 750px;
border: 0px;
padding-bottom: 0;
padding-top: 10px;button
clear: both;
}
#header p { 
margin-top: -20px;
margin-left: 30px;
color: #999999;
}

/**************** menu styles ****************/
#tabs10 {
float: left;
width: 850px;
font-size: 93%;
padding-bottom: 1px;
border-bottom: 4px solid #2763A5;
line-height: normal;
}
#tabs10 ul {
margin: 0;
padding: 8px 10px 0 50px;
list-style: none;
}
#tabs10 li {
display: inline;
margin: 0;
padding: 0;button
}
#tabs10 a {
float: left;
background: url(tableft10.gif) no-repeat left top;
margin: 0;
padding: 0 0 0 4px;
text-decoration: none;
}
#tabs10 a span {
float: left;
display: block;
background: url(tabright10.gif) no-repeat right top;
padding: 5px 15px 4px 6px;
color: #FFF;
}
#tabs10 a span {
float: none;
}
#tabs10 a:hover {
background-position: 0% -42px;
}
#tabs10 a:hover span {
background-position: 100% -42px;
}

/**************** content styles ****************/
#content {
width: 650px;
padding-left: 10px;
padding-right: 0;
padding-top: 10px;
padding-bottom: 10px;
float: left;
}
#content form{
float: none;
}
#content p {
margin: 1em 0;
}

/**************** sidebar styles ****************/
#sidebar {
width: 175px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 20px;
float: left;
}

#sidebar p {
padding-bottom: 10px;
border-bottom: 1px solid #DDDDDD;
}

#sidebar ul {
border-top: 1px solid #ddd;
list-style: none;
padding: 10px 0 0 0;
margin: 15px 0 0 0;
}
#sidebar ul li {
padding-bottom: 10px;
}
/**************** footer styles ****************/
#footer {
margin-top: 15px;
padding-top: 6px;
padding-bottom: 6px;
padding-left: 2px;
padding-right: 2px;
clear: both;
width: 847px;
background-color: #2763A5;
}

#footer p {
color:#FFFFFF;
text-align: center;
padding: 0;
margin: 0;
}

#footer p a {
color: #FFFFFF;
background-color: #2763A5;
font-weight: 100;
border-bottom: 1px dotted #FFFFFF;
}

#footer p a:hover {
color: #FFFFFF;
text-decoration: none;
border-top: 1px dotted #FFFFFF;
border-bottom: 0px dotted #FFFFFF;
}





/**************** misc styles ****************/


table.form {
border-collapse: collapse;
margin: 1em 0 1.5em 0;
}
table.form th {
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 5px 0;
}
table.form td {
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 5px 0;
padding-left: 10px;
}


.mbottom0 { margin-bottom: 0em !important; }
.mbottom025 { margin-bottom: 0.25em !important; }
.mbottom05 { margin-bottom: 0.5em !important; }
.mbottom1 { margin-bottom: 1em !important; }
.mbottom15 { margin-bottom: 1.5em !important; }
.mtop0 { margin-top: 0em !important; }
.mtop05 { margin-top: 0.5em !important; }
.mtop1 { margin-top: 1em !important; }
.mtop15 { margin-top: 1.5em !important; }
.mtop2 { margin-top: 2em !important; }
.mvert0 { margin-top: 0em !important; margin-bottom: 0em !important; }
.mvert05 { margin-top: 0.5em !important; margin-bottom: 0.5em !important; }
.mvert1 { margin-top: 1em !important; margin-bottom: 1em !important; }
.mvert15 { margin-top: 1.5em !important; margin-bottom: 1.5em !important; }

div.infoop1 {
border: 1px dotted #aaa;
padding: 15px 10px;
background: #fff;
margin: 1em 0;
}
div.infoop1 ul {
margin: 0;
}

div.infoop2 {
border: 1px solid #bbb;
padding: 5px 10px;
background: #f5f5f5;
margin: 1em 0;
}

div.infoop3x {
border: 1px solid #bbb;
padding: 5px 10px;
background: #fafafa;
margin: 1em 0;
}

div.infoop4 {
border: 1px solid #e2d380;
padding: 5px 10px;
background: #f8f4d7;
margin: 1em 0;
}


table.tstyle1 {
border-collapse: collapse;
}
table.tstyle1 th {
text-align: left;
font-weight: normal;
padding: 2px 0;
white-space: nowrap;
}
table.tstyle1 td {
text-align: left;
padding: 2px 0;
padding-left: 10px;
}

table.tstyle2 {
border-collapse: collapse;
margin: 1em 0;
}
table.tstyle2 th {
text-align: left;
font-weight: normal;
padding: 3px 6px;
border: 1px solid #ccc;
background: #f5f5f5;
text-align: center;
}
table.tstyle2 td {
text-align: center;
padding: 3px 6px;
padding-left: 10px;
border: 1px solid #ccc;
}

table.tstyle3 {
border-collapse: collapse;
margin: 1em 0 1.5em 0;
}
table.tstyle3 th {
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 5px 0;
font-weight: normal;
}
table.tstyle3 td {
text-align: left;
border-top: 1px solid #ddd;
border-bottom: 1px solid #ddd;
padding: 5px 0;
padding-left: 20px;
}

.documents {
margin: 1.5em 0;
}
.documents p {
margin: 0.25em 0 !important;
background: url(../images/doc.gif) left center no-repeat;
padding: 0 0 0 14px;
}
.documents em {
}


div.flow {
width: 130px;
float: right;
}
div.wrapper {
padding-right: 120px;
}
div.box {
border: 1px solid #aaa;
background: #fafafa;
padding: 5px 5px;
text-align: center;
overflow: hidden;
}
div.box {
border: 2px solid #ccc;
background: #fafafa;
padding: 5px 5px;
text-align: center;
}
div.arrow {
background: url(arrow01.gif) bottom center no-repeat;
height: 20px;
width: auto;
}
div.yellow {
border: 2px solid #dfca61;
background: #fdfbf4;
/*color: #a68b08;*/
}
div.red {
border: 2px solid #d5866c;
background: #fcf6f4;
/*color: #a68b08;*/
}
div.green {
border: 2px solid #88c688;
background: #f7fbf7;
/*color: #a68b08;*/
}
div.box a {
color: #555;
font-weight: normal;
background: none;
text-decoration: none;
/*border-bottom: 1px solid #aaa;*/
}
div.box a:hover {
text-decoration: none;
}

div.expenditures {
margin: 1.25em 0;	
}
div.expenditures p {
margin: 0.25em 0 !important;
}

div.item {
margin-top: 1.5em;
}
div.item strong {
}


/***** AUTO_COMPLETE *****/
div.autoComplete { 
      position:absolute; 
      width:250px; 
      background-color:white; 
      border:1px solid #888; 
      margin:0px; 
      padding:0px; 
    } 
ul.autoCompleteItems  { 
      list-style-type: none; 
      margin:0px;
      padding:0px;
  } 
 
ul.autoCompleteItems li.selected { background-color:  #cef; }





/* lists */
ul.liinline {
margin: 0;
padding: 0;
}
ul.liinline li {
display: inline;
margin: 0;
padding: 0 0.25em;
}
.nobullet { list-style: none; }
.dinline { display: inline; }
.forminline form { display: inline !important; }
